body{
    background: #84a8a9;
}
.formulario{
    width: 250px;
    height: 250px;
    background: wheat;
    margin: 80px auto;
}
#form{
    display:flex;
    flex-direction:column ;
    color: blue;
    padding: 10px;
}
form input{
    margin-top: 10px;
}