<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}">
</head>
<body>
    <header class="topHeader">
        <nav class="topNav">
            <a href="#" class="logo">
                <!-- <img src="../img/hombres_en_victoria.jpg" alt="logo de hombres en victoria" height="50" width="50"> -->
                <img src="{{url_for("static", filename="hombres_en_victoria.jpg")}}" height="50" width="50">
                <div>
                    Hombres en victoria <br>
                    <b>Betania</b>
                </div>
                <ul class="menu">
                    <li><a href="" class="selected">Tema Asamblea</a></li>
                    <li><a href="">Sobre nosotros</a></li>
                    <li><a href="">Retiros</a></li>
                    <li><a href="">Player</a></li>
                    <!-- <li><a href="">Contactos</a></li> -->
                </ul>
            </a>
        </nav>
    </header>
    {%block content%}
    {%endblock%}
    <p>Sayonara</p>
</body>
</html>